<div class="path">
    <div>
		<a href="main.php?cg_u_type=1">我的商城</a> <span>&gt;</span>
        <a href="main.php?m=member&s=admin_security">安全设置</a>
    </div>
</div>
<div class="main">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="active"><a href="main.php?m=member&s=admin_security">安全设置</a></li>
            </ul>
        </div>
		<div class="form-style safe">
        	<div class="safe_grafe">
                <span class="fore1">安全级别：</span>
                <span class="fore2 a2">较高</span>
                <span class="fore3 a2"></span>
                <span class="fore4">建议您启动全部安全设置，以保障账户及资金安全。</span>
            </div>
			<div class="m">
                <div class="mc clearfix">
                    <div class="fore1">登录密码</div>
                    <div class="fore2 red">互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</div>
                    <div class="fore3"><a href="main.php?m=member&s=update_mail">修改</a></div>
                </div>
                <div class="mc clearfix">
                    <div class="fore1">邮箱验证</div>
                    <div class="fore2">验证后，可用于快速找回登录密码，接收账户余额变动提醒。</div>
                    <div class="fore3"><a href="main.php?m=member&s=mail">立刻验证</a></div>
                </div>
                <div class="mc clearfix">
                    <div class="fore1">手机验证</div>
                    <div class="fore2">验证后，可用于快速找回登录密码，接收账户余额变动提醒。</div>
                    <div class="fore3"><a href="main.php?m=member&s=admin_security&type=mobile">立刻验证</a></div>
                </div>
                <div class="mc clearfix">
                    <div class="fore1">支付密码</div>
                    <div class="fore2">启用支付密码后，在使用账户中余额等资产时，需输入支付密码。</div>
                    <div class="fore3"><a href="">修改</a></div>
                </div>
            </div>
        </div>
    </div>
</div>