<div class="path">
    <div>
		<a href="main.php?cg_u_type=1">我的商城</a> <span>&gt;</span>
        <a href="main.php?m=member&s=admin_security">安全设置</a>
    </div>
</div>
<div class="main">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="active"><a href="main.php?m=member&s=mail">验证邮箱</a></li>
            </ul>
        </div>
		<div class="step">
            <ul>
                <li class="fore1">1.验证身份<b></b></li>
                <li class="fore2">2.验证邮箱<b></b></li>
                <li class="fore3">3.完成</li>
            </ul>
        </div>
        <div>
        已发送验证邮件至：y*****0@qq.com  请立即完成验证，邮箱验证不通过则修改邮箱失败。
		验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。
        </div>
    </div>
</div>